body {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  font-family: Arial, sans-serif;
  background-color: #F6F6F6;
}

nav {
  background-color: #000000;
  padding: 10px 20px;
}

.nav-title {
  color: #000000;
  font-size: 20px;
}

#header {
  margin: auto;
  padding: 20px;
  width: 600px;
  background-color: #f0f0f0;
  margin-top: 30px;
}

#header h2 {
  color: #393E46;
}

#header p {
  color: #4D4D4D;
}

details {
  margin-top: 10px;
}

summary {
  color: #00ADB5;
  cursor: pointer;
}

.content {
    padding-bottom: 60px; /* 确保内容不被 footer 遮挡 */
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  color: #000000;
  text-align: center;
  padding: 10px 0;
}

#socials {
  margin-top: 20px;
}

.socials {
  margin-right: 10px;
}

.socials svg {
  fill: #000000;
  width: 20px;
  height: 20px;
}

.socials:hover {
  opacity: 0.7;
}

body > nav {
  background-color: #f0f0f0;
}

